<div class="d-flex flex-column justify-content-between">
  <div class="d-flex justify-content-between">
    <app-header></app-header>
    <div>
      <app-log-out></app-log-out>
      <app-user-update></app-user-update>
    </div>
  </div>

  <div class="d-flex justify-content-center ">
    <form
      [formGroup]="createcolumnForm"
      (ngSubmit)="addcolumn(createcolumnForm.value)"
    >
      <div class="form-outline mb-4 col-8">
        <input
          type="text"
          id="form2Example1"
          class="form-control"
          formControlName="title"
        />
        <label class="form-label" for="form2Example1">{{
          "tasks Title" | translate
        }}</label>
      </div>
      <div class="col-7">
        <button
          type="submit"
          class="btn btn-primary btn-block m-4"
          [disabled]="!createcolumnForm.valid"
          class="btn btn-primary"
        >
          create column
        </button>
      
      </div>
    </form>
  </div>
  <div class="container">
    <div class="col-7"><app-form-delete *ngIf="delete" (canCelEv)="cancel($event)" (delEv)="deleteItem($event)"></app-form-delete ></div>
  </div>
  <div
    cdkDropListGroup
    cdkDropList
    cdkDropListOrientation="horizontal"
    [cdkDropListData]="columns"
    class="example-list horizontal-scrollable mx-auto"
    (cdkDropListDropped)="drop($event)"
  >
    <div class="example-container m-2" *ngFor="let column of columns" cdkDrag>
      <h2>{{ column.title }}</h2>
      <app-task (deleteCol)="deleteCol($event)"
        [boardId]="column.boardId"
        [columnId]="column['_id']"
      ></app-task>
    </div>
  </div>
</div>
