<div class="d-flex justify-content-center">
  <form
    [formGroup]="createTaskForm"
    (ngSubmit)="onSubmit(createTaskForm.value)"
  >
    <div class="form-outline mb-4 col-8">
      <input
        type="text"
        id="form2Example1"
        class="form-control"
        formControlName="title"
      />
      <label class="form-label" for="form2Example1">{{
        "tasks Title" | translate
      }}</label>
    </div>
    <div class="form-outline mb-4 col-8">
      <input
        type="text"
        id="form2Example1"
        class="form-control"
        formControlName="description"
      />
      <label class="form-label" for="form2Example1">{{
        "tasks description" | translate
      }}</label>
    </div>
    <div
      class="col-7 d-flex align-items-center justify-content-center flex-column"
    >
      <button
        type="submit"
        class="btn btn-primary btn-block m-4"
        [disabled]="!createTaskForm.valid"
        class="btn btn-primary"
      >
        {{ "submit" | translate }}
      </button>
      <a class="btn btn-primary btn-block m-4" (click)="close($event)">{{
        "cancel" | translate
      }}</a>
    </div>
  </form>
</div>
