<div class="d-flex justify-content-between">
  <app-header></app-header>
  <div>
    <app-log-out></app-log-out>
    <app-user-update></app-user-update>
  </div>
</div>
<div class="d-flex justify-content-center">
  <form
    [formGroup]="createBoardForm"
    (ngSubmit)="addBoard(createBoardForm.value)"
  >
    <div class="form-outline mb-4 col-8">
      <input
        type="text"
        id="form2Example1"
        class="form-control"
        formControlName="title"
      />
      <label class="form-label" for="form2Example1">{{
        "Board Title" | translate
      }}</label>
    </div>
    <div class="col-7">
      <button
        type="submit"
        class="btn btn-primary btn-block m-4"
        [disabled]="!createBoardForm.valid"
        class="btn btn-primary"
      >
        create board
      </button>
    </div>
  </form>
</div>
<div class="d-flex justify-content-center m-2">
  <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
    <a
      (click)="goToTasks($event)"
      *ngFor="let board of boards"
      [attr.dataId]="board['_id']"
    >
      <div class="example-box" cdkDrag>
        <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
        {{ board.title }}
      </div>
    </a>
  </div>
</div>
